{% extends "base.html" %}

{% block links %}
<a href="/login" >Login</a>
{% endblock %}

{% block body %}
<div id="main" style='height: auto'>
  <div id="content" style='height: auto'>
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <div class="title">

        </div>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/clover_leaf.jpg" alt="" /></a> </div>
          <div class="data-article" id="data-content">

          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


            
  
