<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_advance.css') }}" type="text/css" media="all" />
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    <div id="shell" style="height: auto;">
        <div id="header">
            <h1 class="title"><a href="/">JOB SEEK</a></h1>
            <div class="top-bar">
                <div class="links">    
                    {% block links %} <!-- Place only this block declaration -->
                    <!-- Default links if any or leave empty -->
                    {% endblock %}  
                </div>
                <div class="cl">&nbsp;</div>
                <div id="search">
                    <form action="/search" method="POST">
                        <label for="search-string">I'M LOOKING FOR</label>
                        <div class="fields">
                            <input type="text" name="searchword" class="field" />
                            <input type="submit" name="search" value="" class="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="navigation">
            <ul>
                <li><a href="/accounting_finance">Accounting and Finance</a></li>
                <li><a href="/engineering">Engineering</a></li>
                <li><a href="/healthcare_nursing">Healthcare and Nursing</a></li>
                <li><a href="/sales">Sales</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <div class="cl">&nbsp;</div>
        </div>
      
        {% block body %}
        <!-- Default body content or leave empty -->
        {% endblock %}
        
        <div id="footer" style="height: auto;">
            <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
            <p class="rf">Design by <a href="http://chocotemplates.com/">ChocoTemplates.com</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>

    {% block script %}
    <!-- Default scripts or leave empty -->
    {% endblock %}
</body>
</html>
